<div class="h-screen bg-indigo-darker text-white hero-pattern">
  <div class="container flex flex-col h-full mx-auto">
    <div class="m-4 lg:my-8">
      <div class="bg-white inline-block text-indigo font-medium tracking-wide text-lg p-4 rounded">
        Rails Tailwindcss Starter
      </div>
    </div>

    <div class="flex-grow flex flex-col justify-center px-8 max-w-sm">
      <h1 class="font-medium leading-normal">Getting things done! That's what matters!</h1>
      <p class="sm:mt-4">
        Use the Rails Tailwindcss Starter to optimize how your teams work and get better results within a few weeks.
      </p>
      <div class="sm:mt-4">
        <a href="https://github.com/guillaumebriday/rails-tailwindcss-starter" class="inline-block px-8 py-4 my-4 bg-indigo rounded text-white no-underline tracking-wide font-medium hover:bg-indigo-light">
          Join Now
        </a>
      </div>
    </div>
  </div>
</div>
